#######
# IDEs
#######

# clion
.idea
cmake-build-build
cmake-build-debug

# others
.vscode
.fleet
.zed

# MacOS
.DS_Store

# Build files
!compiler/third_party
!examples/third_party
#third_party
ebpf_llvm_jit

# C
*.o
*.O
*.elf
*.a
*.out
*.ll

