[submodule "dependencies/libbpf"]
	path = dependencies/libbpf
	url = https://github.com/libbpf/libbpf
# [submodule "dependencies/llvm-project"]
# 	path = dependencies/llvm-project
# 	url = https://github.com/llvm/llvm-project
