# IDEs
.idea
.vscode
.fleet
.zed

#MacOS
.DS_Store

# CMAKE
cmake-build-*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
libbpf-prefix
*.gch
CPackConfig.cmake
CPackSourceConfig.cmake
.cache
build

# build targets
libbpf
ebpf_llvm_jit

!examples/**/Makefile

# Dependencies
third_party/libbpf